@use "bootstrap/scss/bootstrap" as *;

a {
    color: inherit;
    text-decoration: none;
    @extend .text-muted;
    @extend .text-uppercase;

    &:hover {
        @extend .text-info;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    color: var(--bs-warning);
}

ul {
    list-style-type: none;
}

.glass-card .glass-card {
    @extend .border-secondary;
}